body {
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    color: #828282;
    font-weight: 400;
    font-size: 15px;
    height: 790px;
    width: 1024px;
    line-height: 22px ;
}

.main {
    width: 626px;
    margin: 0 auto;
    text-align: center;
}

.main img {
    margin-top: 64px;
}

span {
    color: #3F3D56;
    font-weight: bold;
}

h1 {
    font-family: 'Dosis', sans-serif;
    color:#3F3D56 ;
    font-weight: 500;
}

.footer {
    border-top: 0.5px solid rgba(155, 155, 155, 0.339);
    width: 626px;
    margin: 65px auto 20px;
    text-align: center;
    padding: 20px;
}

.footer a {
    font-weight: 700;
    text-decoration: none;
    color: #3F3D56;
    font-size: 15px;
    padding: 20px; 
    
}




